<%= simple_form_for @student, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Student</legend>

    <div class="control-group">
      <%= f.label "Name", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :first_name, :class => 'input-medium', :placeholder => "First Name" %>
        <%= f.text_field :family_name, :class => 'input-medium', :placeholder => "Family Name" %>
      </div>
    </div>

    <% if @family %>
    <%= f.hidden_field :family_id %>
    <% end %>

    <div class="control-group">
      <%= f.label :birthday, :class => 'control-label' %>
      <div class="controls">
        <%= f.date_select :birthday, :class => 'date_select' %>
      </div>
    </div>

    <%= f.input :gender, :collection => [ "Male", "Female" ] %>

    <%= f.input :custom_contact_details, :collection => { 'Same as family' => false, 'Custom' => true }, :priority => [ "Custom" ] %>

    <div id="custom-address" style="display: none;">

      <div class="control-group">
        <%= f.label "Address", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :street_address, :class => 'input-medium', :placeholder => "Street Address" %>
          <%= f.text_field :city, :class => 'input-small', :placeholder => "City" %>
          <%= f.text_field :postal_code, :class => 'input-small', :placeholder => "Postal Code" %>
        </div>
      </div>

      <%= f.input :home_phone %>
      <%= f.input :mobile_phone %>
      <%= f.input :primary_email %>
      <%= f.input :secondary_email %>

    </div>
  </fieldset>

  <fieldset>
    <legend>Additional Details</legend>

    <%= f.input :notes, :class => 'input-xlarge', :input_html => { :rows => 5 } %>

    <%= f.input :status, :collection => { "Active Prospect" => 0, "Customer" => 1, "Nurture Prospect" => 2, "Inactive Prospect" => 3 } %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', students_path, :class => 'btn' %>
    </div>

  </fieldset>
<% end %>

<script>
  $('#student_custom_contact_details').change(function() {
    if ($('#student_custom_contact_details').val() == 'true') {
      $('#custom-address').show();
    } else {
      $('#custom-address').hide();
    }
  });
</script>
