<h1>Students</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Family name</th>
      <th>First name</th>
      <th>In Family?</th>
      <th>Instrument(s)</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= link_to student.family_name, student_path(student) %></td>
        <td><%= link_to student.first_name, student_path(student) %></td>
        <td>
          <% if student.family_id  %>
            <% family = Family.find(student.family_id) %>
            <%= family.parent_names %>
          <% end %>
        </td>
        <td>
          <% if student.student_instrument.any? %>
            <% student.student_instrument.each do |student_instrument| %>
              <% instrument = Instrument.find(student_instrument.instrument_id) %>
              <%= instrument.name %>
            <% end %>
          <% else %>
            No instruments defined
          <% end %>
        </td>
        <td>
          <%= link_to 'Manage Student', student_path(student), :class => 'btn' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Student', new_student_path, :class => 'btn btn-primary' %>
