<%= render :partial => 'header' %>

<div class="main-unit">

<h2>Manage Student: <%= @student.first_name %> <%= @student.family_name %></h2>

<br>

<p>
  <strong>Birthday:</strong> <%= @student.birthday %><br>
  <strong>Gender:</strong> <%= @student.gender %><br>
</p>

<p>
  <b>Family</b><br>
  <%= @student.family_id %>
</p>

<% if @student.custom_contact_details == true %>

  <p>
    <b>Custom contact details</b>
  </p>

  <p>
    <b>Street address: </b>
    <%= @student.street_address %>
    <br>
    <b>City: </b>
    <%= @student.city %>
    <br>
    <b>Postal code: </b>
    <%= @student.postal_code %>
  </p>

  <p>
    <b>Home phone: </b>
    <%= @student.home_phone %>
    <br>
    <b>Mobile phone: </b>
    <%= @student.mobile_phone %>
    <br>
    <b>Primary email: </b>
    <%= @student.primary_email %>
    <br>
    <b>Secondary email: </b>
    <%= @student.secondary_email %>
  </p>

<% else %>

  <p>
    <strong>Contact Details are the same as the family</strong>
  </p>

<% end %>

<p>
  <b>Notes</b><br>
  <%= @student.notes %>
</p>

<p>
  <b>Status</b><br>
  <%= @student.status %>
</p>

<div class="form-actions">
  <%= link_to 'Back', students_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_student_path(@student), :class => 'btn' %>
  <%= link_to 'Delete', student_path(@student), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
