<%= render :partial => 'header' %>


<div class="content-box">

<p>
  <strong>Birthday:</strong> <%= @student.birthday %><br>
  <strong>Gender:</strong> <%= @student.gender %><br>
</p>


<% if @student.custom_contact_details == true %>

  <p>
    <b>Student Address</b>
  </p>

  <p>
    <%= @student.street_address %><br>
    <%= @student.city %>, BC <%= @student.postal_code %>
  </p>

  <br>

  <h3>Student Contact Details</h3>
  <p>
    <strong>Primary email</strong>:  <%= @student.primary_email %><br>
    <strong>Secondary email</strong>: <%= @student.secondary_email %><br>
    <strong>Home phone</strong>: <%= @student.home_phone %><br>
    <strong>Mobile phone</strong>: <%= @student.mobile_phone %>
  </p>

<% else %>

  <p>
    <strong>Contact Details are the same as the family</strong>
  </p>

<% end %>

</div>

<div class="content-box well">

<h3>Notes</h3>
<p>
<%= @student.notes %>
</p>

<br>


<p>
  <b>Status:</b>
  <%= @student.status_text %>
</p>

</div>

<div class="content-clear"></div>


<div class="main-unit">

  <%= render :partial => 'list_instruments' %>

  <%= render :partial => 'add_instrument' %>

</div>

<div class="main-unit">

  <%= render :partial => 'list_availability' %>

  <%= render :partial => 'add_availability' %>

</div>


<div class="form-actions">
  <%= link_to 'Delete Student', student_path(@student), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>

