<%= render :partial => 'header' %>


<div class="content-box">

<p>
  <strong>Birthday:</strong> <%= @student.birthday.strftime("%B %d, %Y") %> (Age: <%= @student.age %>)<br>
  <strong>Gender:</strong> <%= @student.gender %><br>
</p>


<% if @student.custom_contact_details == true %>

  <p>
    <b>Student Address</b>
  </p>

  <p>
    <%= @student.street_address %><br>
    <%= @student.city %>, BC <%= @student.postal_code %>
  </p>

  <br>

  <h3>Student Contact Details</h3>
  <p>
    <% if @student.primary_email.length > 0 %>
      <strong>Primary email</strong>: <a href="mailto:<%= @student.primary_email %>"><%= @student.primary_email %></a><br>
    <% end %>
    <% if @student.secondary_email.length > 0 %>
      <strong>Secondary email</strong>: <a href="mailto:<%= @student.secondary_email %>"><%= @student.secondary_email %></a><br>
    <% end %>
    <% if @student.phone_number1.length > 0 %>
      <strong>Primary phone</strong>: <%= number_to_phone(@student.phone_number1, :area_code => true) %><br>
    <% end %>
    <% if @student.phone_number2.length > 0 %>
      <strong>Secondary phone</strong>: <%= number_to_phone(@student.phone_number2, :area_code => true) %>
    <% end %>
    <% if @student.phone_number3 && @student.phone_number3.length > 0 %>
      <strong>Phone Number 3</strong>: <%= number_to_phone(@student.phone_number3, :area_code => true) %>
    <% end %>
    <% if @student.phone_number4 && @student.phone_number4.length > 0 %>
      <strong>Phone Number 4</strong>: <%= number_to_phone(@student.phone_number4, :area_code => true) %>
    <% end %>
  </p>

<% else %>

  <p>
    <strong>Contact Details are the same as the family</strong>
  </p>

<% end %>

</div>

<div class="content-box well">

<h3>Notes</h3>
<p>
  <% if @student.notes.length > 0 %>
    <%= @student.notes %>
  <% else %>
    No notes
  <% end %>
</p>

<br>

<p>
  Form: <%= @student.assessment_form %>
  <%= link_to @student.assessment_form_url if @student.assessment_form? %>
</p>

<p>
  Form 2: <%= @student.bank_authorization %>
  <%= link_to @student.bank_authorization_url if @student.bank_authorization? %>
</p>

<p>
  <b>Status:</b>
  <%= @student.status_text %>
</p>

</div>

<div class="content-clear"></div>


<div class="main-unit">

  <%= render :partial => 'list_instruments' %>

  <%= render :partial => 'add_instrument' %>

</div>

<div class="main-unit">

  <%= render :partial => 'list_availability' %>

  <%= render :partial => 'add_availability' %>

</div>


<div class="form-actions">
  <%= link_to 'Delete Student', student_path(@student), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>

