<h1><%= controller.action_name.capitalize %> Family</h1>

<%= simple_form_for @family, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend>Family Information</legend>

    <%= f.input :family_name %>
    <%= f.input :parent_names, label: "Parent Name(s)" %>

    <div class="control-group">
      <%= f.label "Address", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :street_address, :class => 'input-medium', :placeholder => "Street Address" %>
        <%= f.text_field :city, :class => 'input-small', :placeholder => "City" %>
        <%= f.text_field :postal_code, :class => 'input-small', :placeholder => "Postal Code" %>
      </div>
    </div>

    <%= f.input :home_phone %>
    <%= f.input :mobile_phone %>
    <%= f.input :primary_email %>
    <%= f.input :secondary_email %>
  </fieldset>

  <fieldset>
    <legend>Additional Details</legend>

    <%= f.input :notes, :class => 'input-xlarge', :input_html => { :rows => 5 } %>

    <%= f.input :status, :collection => {"Active Prospect" => 0, "Customer" => 1, "Nurture Prospect" => 2, "Inactive Prospect" => 3}, :selected => 1 %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', @family, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
