<div class="controls-box" style="padding: 20px;">
  <%= link_to 'Edit Family Details', edit_family_path(@family), :class => 'btn' %>
  <%= link_to 'Back to Listings', families_path, :class => 'btn'  %>
</div>

<div class="page-header">
  <h1>Manage Family</h1>
  <h3><%= @family.parent_names %> <%= @family.family_name %></h3>
</div>

<div class="content-clear"></div>

<div class="content-box">

<h3>Family Address</h3>
<p>
  <%= @family.street_address %><br>
  <%= @family.city %>, BC <%= @family.postal_code %>
</p>

<br>

<h3>Family Contact Details</h3>
<p>
  <% if @family.primary_email.length > 0 %>
    <strong>Primary email</strong>: <a href="mailto:<%= @family.primary_email %>"><%= @family.primary_email %></a><br>
  <% end %>
  <% if @family.secondary_email.length > 0 %>
    <strong>Secondary email</strong>: <a href="mailto:<%= @family.secondary_email %>"><%= @family.secondary_email %></a><br>
  <% end %>
  <% if @family.phone_number1.length > 0 %>
    <strong>Primary phone number</strong>: <%= number_to_phone(@family.phone_number1, :area_code => true) %><br>
  <% end %>
  <% if @family.phone_number2.length > 0 %>
    <strong>Phone Number 2</strong>: <%= number_to_phone(@family.phone_number2, :area_code => true) %>
  <% end %>
  <% if @family.phone_number3 && @family.phone_number3.length > 0 %>
    <strong>Phone Number 3</strong>: <%= number_to_phone(@family.phone_number3, :area_code => true) %>
  <% end %>
  <% if @family.phone_number4 && @family.phone_number4.length > 0 %>
    <strong>Phone Number 4</strong>: <%= number_to_phone(@family.phone_number4, :area_code => true) %>
  <% end %>

</p>

</div>

<div class="content-box well">

<h3>Notes</h3>
<p>
  <% if @family.notes %>
    <%= @family.notes %>
  <% else %>
    No notes
  <% end %>
</p>

<br>

<p>
  <b>Family Status:</b>
  <%= @family.status_text %>
</p>

</div>

<div class="content-clear"></div>

<hr>

<div class="controls-box">
  <%= link_to 'Add New Student to Family', new_student_path(:family_id => @family.id), :class => 'btn' %>
</div>

<h3>Students Assigned to Family</h3>

<div class="content-clear"></div>
<br>

<% if @family.students.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Family Name</th>
        <th>Student Name</th>
        <th>Instrument(s)</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @family.students.each do |student| %>
        <tr>
          <td><%= student.family_name %></td>
          <td><%= student.first_name %></td>
          <td>
            <% if student.student_instrument.any? %>
              <% student.student_instrument.each do |student_instrument| %>
                <% instrument = Instrument.find(student_instrument.instrument_id) %>
                <%= instrument.name %>
              <% end %>
            <% else %>
              No instruments defined
            <% end %>
          </td>
          <td><%= link_to 'Manage Student', student_path(student), :class => 'btn' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No students</p>
<% end %>

<div class="form-actions">
  <%= link_to 'Delete Family', family_path(@family), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
