<h1>View Tenative Lessons</h1>

<p>&nbsp;</p>

<!--
<form class="well form-search">
  <select id="select01">
    <option>-- Instrument --</option>
    <option>Guitar</option>
    <option>Bass</option>
    <option>Piano</option>
    <option>Drums</option>
    <option>Voice</option>
  </select>

  <input type="text" class="input-medium search-query" placeholder="Student Name">
  <button type="submit" class="btn">Search</button>
</form>

-->
<% if @lessons.any? %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Student Name</th>
        <th>Teacher Name</th>
        <th>Instrument</th>
        <th>Day</th>
        <th>Time</th>
        <th></th>
      </tr>
    </thead>
    <tbody>

      <% @lessons.each do |lesson| %>

        <% student = Student.find(lesson.student_id) %>
        <% teacher = Teacher.find(lesson.teacher_id) %>
        <% instrument = Instrument.find(lesson.instrument_id) %>

        <tr>
          <td><%= student.full_name %></td>
          <td><%= teacher.full_name %></td>
          <td><%= instrument.name %></td>
          <td><%= lesson.day_of_week %></td>
          <td><%= lesson.start_time.strftime("%I:%M %p") %> - <%= lesson.end_time.strftime("%I:%M %p") %></td>
          <td>
            <%= link_to 'Confirm Lesson', confirm_tentative_path(:id => lesson.id), :class => 'btn btn-mini' %>
            <%= link_to 'Delete', lesson_path(lesson), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
          </td>
      </tr>

    <% end %>

    </tbody>
  </table>

<% else %>

<h3>No lesson pending confirmation at this time</h3>

<% end %>