<h3>Lessons</h3>

<% if @lessons.any? %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Student</th>
        <th>Teacher</th>
        <th>Instrument</th>
        <th>Day</th>
        <th>Time</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @lessons.each do |lesson| %>

        <% student = Student.find(lesson.student_id) %>
        <% teacher = Teacher.find(lesson.teacher_id) %>
        <% instrument = Instrument.find(lesson.instrument_id) %>

        <tr>
          <td><%= student.full_name %></td>
          <td><%= teacher.full_name %></td>
          <td><%= instrument.name %></td>
          <td><%= lesson.day_of_week %></td>
          <td><%= lesson.start_time.strftime("%I:%M %p") %> - <%= lesson.end_time.strftime("%I:%M %p") %></td>
          </td>
          <td>
            <%= link_to 'Edit', lesson_path(lesson), :class => 'btn btn-mini' %>
            <%= link_to 'Delete', lesson_path(lesson), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <p>No Lessons Defined Yet</p>
<% end %>
