<h3>View Lesson Details</h3>
<br>
<p>
  <strong>Student Name:</strong> <%= @student.full_name %><br>
</p>

<p>
  <strong>Teacher:</strong> <%= @teacher.full_name %>
</p>

<p>
  <strong>Instrument:</strong> <%= @instrument.name %>
</p>

<p>
  <strong>Day</strong>:  <%= @lesson.day_of_week %><br>
  <strong>Start Time</strong>: <%= @lesson.start_time.strftime("%I:%M %p") %><br>
  <strong>End Time</strong>: <%= @lesson.end_time.strftime("%I:%M %p") %><br>
  <strong>Status</strong>: <%= @lesson.status_text %>
</p>

</div>
