<%= simple_form_for @teacher, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Teacher</legend>

    <div class="control-group">
      <%= f.label "Name", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :first_name, :class => 'input-medium', :placeholder => "First Name" %>
        <%= f.text_field :family_name, :class => 'input-medium', :placeholder => "Family Name" %>
      </div>
    </div>

    <%= f.input :gender, :collection => [ "Male", "Female" ] %>

    <%= f.input :email %>

    <div class="control-group">
      <%= f.label "Address", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :street_address, :class => 'input-medium', :placeholder => "Street Address" %>
        <%= f.text_field :city, :class => 'input-small', :placeholder => "City" %>
        <%= f.text_field :postal_code, :class => 'input-small', :placeholder => "Postal Code" %>
      </div>
    </div>

    <%= f.input :home_phone %>
    <%= f.input :mobile_phone %>
    <%= f.input :secondary_email %>

    <%= f.input :notes, :class => 'input-xlarge', :input_html => { :rows => 5 } %>

    <%= f.input :status, :collection => { "Prospective" => 0, "Active" => 1, "Inactive" => 2 } %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', teachers_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
