<%= simple_form_for @teacher, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend>General Details</legend>

    <div class="control-group">
      <%= f.label "Name", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :first_name, :class => 'input-medium', :placeholder => "First Name" %>
        <%= f.text_field :family_name, :class => 'input-medium', :placeholder => "Family Name" %>
      </div>
    </div>

    <%= f.input :gender, :input_html => { :class => 'span2' }, :collection => [ "Male", "Female" ], :selected => "Male" %>

    <%= f.input :status, :input_html => { :class => 'span2' }, :collection => { "Prospective" => 0, "Active" => 1, "Inactive" => 2 }, :selected => 1 %>

    <%= f.input :email, :label => 'Resound Email' %>

    <%= f.input :notes, :input_html => { :class => 'input-xlarge', :rows => 5 } %>

    </legend>

    <legend>Contact Information</legend>

    <div class="control-group">
      <%= f.label "Address", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :street_address, :class => 'input-medium', :placeholder => "Street Address" %>
        <%= f.text_field :city, :class => 'input-medium', :placeholder => "City" %>
        <%= f.text_field :postal_code, :class => 'input-small', :placeholder => "Postal Code" %>
      </div>
    </div>

    <%= f.input :home_phone, :as => :tel, :input_html => { :class => 'input-medium' } %>
    <%= f.input :mobile_phone, :as => :tel, :input_html => { :class => 'input-medium' } %>
    <%= f.input :secondary_email, :as => :email, :label => "Primary Contact Email", :input_html => { :class => 'input-large' } %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', @teacher, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
