<h1>Teachers</h1>
<br>
<table class="table table-striped" id="teachers" data-source="">
  <thead>
    <tr>
      <th>Family name</th>
      <th>First name</th>
      <th>Instrument(s)</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= link_to teacher.family_name, teacher_path(teacher) %></td>
        <td><%= link_to teacher.first_name, teacher_path(teacher) %></td>
        <td>
          <% if teacher.teacher_instruments.any? %>
            <% instrument_count = teacher.teacher_instruments.count %>
            <% teacher.teacher_instruments.each_with_index do |teacher_instrument, index| %>
              <% instrument = Instrument.find(teacher_instrument.instrument_id) %>
              <%= instrument.name %>
            <% end %>
          <% else %>
            No instruments defined
          <% end %>
        </td>
        <td>
          <%= link_to 'Manage', teacher, :class => 'btn btn-mini' %>
          <%= link_to 'Edit', edit_teacher_path(teacher), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Teacher', new_teacher_path, :class => 'btn' %>
