<div class="main-unit">

<h2>Manage Teacher</h2>
<h3><%= @teacher.first_name %> <%= @teacher.family_name %> (<%= @teacher.status == 1 ? "Active": "Inactive" %>)</h3>

<p>&nbsp;</p>

<p>
  <strong>Gender:</strong> <%= @teacher.gender %><br>
</p>

<p>
  <b>Email:</b> <%= @teacher.email %>
</p>

<h4>Address</h4>

<p>
  <%= @teacher.street_address %><br>
  <%= @teacher.city %>, <%= @teacher.postal_code %>
</p>

<p>
  <b>Home phone:</b> <%= @teacher.home_phone %><br>
  <b>Mobile phone:</b> <%= @teacher.mobile_phone %><br>
  <b>Secondary email:</b> <%= @teacher.secondary_email %>
</p>

<p>
  <b>Notes</b><br>
  <%= @teacher.notes %>
</p>

<div class="form-actions">
  <%= link_to 'Back', teachers_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_teacher_path(@teacher), :class => 'btn' %>
  <%= link_to 'Delete', teacher_path(@teacher), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>

</div>

<div class="main-unit">

  <%= render :partial => 'list_instruments' %>

  <%= render :partial => 'add_instrument' %>

</div>

<div class="main-unit">

  <%= render :partial => 'list_availability' %>

  <%= render :partial => 'add_availability' %>

</div>

