<h3>Confirm Payment before Lessons + Set-up Billing Profile</h3>

<table class="table table-striped" id="confirmPaymentTable">
  <thead>
    <tr>
      <th>Completed</th>
      <th>Student</th>
      <th>Family</th>
      <th>Write / View Note</th>
      <th>Primary Phone #</th>
      <th>Due Date</th>
    </tr>
  </thead>
  <tbody>
    <% if @confirm_payment.any? %>
      <% @confirm_payment.each do |resound_process| %>
        <%
          student = Student.find(resound_process.student_id)
        %>
        <tr>
          <td><input type="checkbox"></td>
          <td><%= student.full_name %></td>
          <td>
            <%=
            if student.family_id && student.family_id > 0
              family = Family.find(student.family_id)
              family.family_name
            else
              "N/A"
            end
            %>
          </td>
          <td>
            <% # if assessment.schedule_assessment_note && assessment.schedule_assessment_note.length > 0 %>
              <%= on_the_spot_edit resound_process, :confirm_payment_note, :type => :textarea, :rows => 5, :columns => 45 %>
            <% #else %>

            <%# end %>
          </td>
          <td><%= number_to_phone(student.phone_number1, :area_code => true) %></td>
          <td>
            <%= form_for(resound_process, :remote => true) do |f| %>
              <%= f.text_field :confirm_payment_due, :as => :string, :label => false, :class => 'date_picker', :style => 'width: 100px;', "data-behaviour" => 'datepicker' %>
              <%= f.submit "Update" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="6">
          <p>No students awaiting payment confirmation</p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>