<h3>Confirm Payment before Lessons + Set-up Billing Profile</h3>

<table class="table table-striped" id="confirmPaymentTable">
  <thead>
    <tr>
      <th>Completed</th>
      <th>Student</th>
      <th>Family</th>
      <th>Write / View Note</th>
      <th>Primary Phone #</th>
      <th>Due Date</th>
    </tr>
  </thead>
  <tbody>
    <% @confirm_payment.each do |resound_process| %>
      <%
        student = Student.find(resound_process.student_id)

        td_style = '';
        if not resound_process.confirm_payment_due.nil? and resound_process.confirm_payment_due < Date.today
          td_style = 'background-color: #cd5c5c; color: #eeeeee; font-weight: bold;';
        elsif not resound_process.confirm_payment_due.nil? and (resound_process.confirm_payment_due == Date.today or resound_process.confirm_payment_due == Date.tomorrow)
          td_style = 'background-color: #fafad2; font-weight: bold;';
        end
      %>
      <tr>
        <td style="<%= td_style %>">
          <%= form_for(resound_process, :remote => true, :html => { :style => 'padding: 0; margin: 0;'}) do |t| %>
            <%= t.hidden_field :id, :value => resound_process.id %>
            <%= t.hidden_field :upload_assessment_due, :value => 1.day.from_now %>
            <%= t.hidden_field :schedule_lessons_due, :value => 1.day.from_now %>
            <%= t.hidden_field :welcome_email_due, :value => 1.day.from_now %>
            <%= t.hidden_field :email_assessment_due, :value => 1.day.from_now %>
            <%= t.hidden_field :welcome_email_due, :value => 1.day.from_now %>
            <%= t.check_box :confirm_payment,
               :checked => resound_process.confirm_payment,
              :class => 'checkable' %>
          <% end %>
        </td>
        <td style="<%= td_style %>"><%= student.full_name %></td>
        <td style="<%= td_style %>">
          <%=
          if student.family_id && student.family_id > 0
            family = Family.find(student.family_id)
            family.family_name
          else
            "N/A"
          end
          %>
        </td>
        <td style="<%= td_style %>">
          <%= on_the_spot_edit resound_process, :confirm_payment_note, :type => :textarea, :rows => 5, :columns => 45 %>
        </td>
        <td style="<%= td_style %>"><%= number_to_phone(student.phone_number1, :area_code => true) %></td>
        <td style="<%= td_style %>">
          <%= form_for(resound_process, :remote => true, :html => { :style => 'padding: 0; margin: 0;'}) do |f| %>
            <%= f.text_field :confirm_payment_due, :as => :string, :label => false, :class => 'date_picker', :style => 'width: 100px;', "data-behaviour" => 'datepicker' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>
