<h3>Email Assessment</h3>

<table class="table table-striped" id="emailAssessmentTable">
  <thead>
    <tr>
      <th>Completed</th>
      <th>Student</th>
      <th>Family</th>
      <th>Write / View Note</th>
      <th>Primary Phone #</th>
      <th>Due Date</th>
    </tr>
  </thead>
  <tbody>
    <% @email_assessment.each do |resound_process| %>
      <%
        student = Student.find(resound_process.student_id)

        td_style = '';
        if not resound_process.email_assessment_due.nil? and resound_process.email_assessment_due < Date.today
          td_style = 'background-color: #cd5c5c; color: #eeeeee; font-weight: bold;';
        elsif not resound_process.email_assessment_due.nil? and (resound_process.email_assessment_due == Date.today or resound_process.email_assessment_due == Date.tomorrow)
          td_style = 'background-color: #fafad2; font-weight: bold;';
        end
      %>
      <tr>
        <td style="<%= td_style %>">
          <%= form_for(resound_process, :remote => true, :html => { :style => 'padding: 0; margin: 0;'}) do |t| %>
            <%= t.hidden_field :id, :value => resound_process.id %>
            <%= t.hidden_field :next_day_followup_due, :value => 1.day.from_now %>
            <%= t.check_box :email_assessment,
               :checked => resound_process.email_assessment,
              :class => 'checkable' %>
          <% end %>
        </td>
        <td style="<%= td_style %>"><%= student.full_name %></td>
        <td style="<%= td_style %>">
          <%=
          if student.family_id && student.family_id > 0
            family = Family.find(student.family_id)
            family.family_name
          else
            "N/A"
          end
          %>
        </td>
        <td style="<%= td_style %>">
          <%= on_the_spot_edit resound_process, :email_assessment_note, :type => :textarea, :rows => 5, :columns => 45 %>
        </td>
        <td style="<%= td_style %>"><%= number_to_phone(student.phone_number1, :area_code => true) %></td>
        <td style="<%= td_style %>">
          <%= form_for(resound_process, :remote => true, :html => { :style => 'padding: 0; margin: 0;'}) do |f| %>
            <%= f.text_field :email_assessment_due, :as => :string, :label => false, :class => 'date_picker', :style => 'width: 100px;', "data-behaviour" => 'datepicker' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>
