<h3>Schedule Lessons</h3>

<table class="table table-striped" id="scheduleLessonsTable">
  <thead>
    <tr>
      <th>Completed</th>
      <th>Student</th>
      <th>Family</th>
      <th>Write / View Note</th>
      <th>Do it Now!</th>
      <th>Due Date</th>
    </tr>
  </thead>
  <tbody>
    <% @schedule_lessons.each do |resound_process| %>
      <%
        student = Student.find(resound_process.student_id)
      %>
      <tr>
        <td>
          <%= form_for(resound_process, :remote => true) do |t| %>
            <%= t.hidden_field :id, :value => resound_process.id %>
            <%= t.hidden_field :email_assessment_due, :value => 1.day.from_now %>
            <%= t.hidden_field :welcome_email_due, :value => 1.day.from_now %>
            <%= t.check_box :schedule_lessons,
               :checked => resound_process.schedule_lessons,
              :class => 'checkable' %>
          <% end %>
        </td>
        <td><%= student.full_name %></td>
        <td>
          <%=
          if student.family_id && student.family_id > 0
            family = Family.find(student.family_id)
            family.family_name
          else
            "N/A"
          end
          %>
        </td>
        <td>
          <%= on_the_spot_edit resound_process, :schedule_lessons_note, :type => :textarea, :rows => 5, :columns => 45 %>
        </td>
        <td><%= mail_to student.primary_email %></td>
        <td>
          <%= form_for(resound_process, :remote => true) do |f| %>
            <%= f.text_field :schedule_lessons_due, :as => :string, :label => false, :class => 'date_picker', :style => 'width: 100px;', "data-behaviour" => 'datepicker' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
